@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer base {
    :is(.dark) .bg-white {
        background-color: rgb(15 23 42 / 1);
    }

    :is(.dark) .bg-gray-50 {
        background-color: rgb(15 23 42 / 1);
    }

    :is(.dark) .bg-gray-100 {
        background-color: rgb(30 41 59 / 1);
    }

    :is(.dark) .bg-gray-900 {
        background-color: rgb(241 245 249 / 1);
    }

    :is(.dark) .text-gray-900 {
        color: rgb(241 245 249 / 1);
    }

    :is(.dark) .text-gray-800 {
        color: rgb(241 245 249 / 1);
    }

    :is(.dark) .text-gray-700 {
        color: rgb(226 232 240 / 1);
    }

    :is(.dark) .text-gray-600 {
        color: rgb(203 213 225 / 1);
    }

    :is(.dark) .text-gray-500 {
        color: rgb(148 163 184 / 1);
    }

    :is(.dark) .border-gray-200 {
        border-color: rgb(30 41 59 / 1);
    }

    :is(.dark) .border-gray-300 {
        border-color: rgb(51 65 85 / 1);
    }

    :is(.dark) .text-slate-900 {
        color: rgb(241 245 249 / 1);
    }

    :is(.dark) .text-slate-800 {
        color: rgb(241 245 249 / 1);
    }

    :is(.dark) .text-slate-700 {
        color: rgb(226 232 240 / 1);
    }

    :is(.dark) .text-slate-600 {
        color: rgb(203 213 225 / 1);
    }

    :is(.dark) .text-slate-500 {
        color: rgb(148 163 184 / 1);
    }

    :is(.dark) .border-slate-200 {
        border-color: rgb(30 41 59 / 1);
    }

    :is(.dark) .border-slate-300 {
        border-color: rgb(51 65 85 / 1);
    }

    :is(.dark) .bg-slate-100 {
        background-color: rgb(15 23 42 / 1);
    }

    :is(.dark) .bg-slate-50 {
        background-color: rgb(15 23 42 / 1);
    }

    :is(.dark) .bg-slate-200 {
        background-color: rgb(30 41 59 / 1);
    }

    :is(.dark) .divide-gray-100 > :not([hidden]) ~ :not([hidden]) {
        border-color: rgb(30 41 59 / 1);
    }

    :is(.dark) .divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
        border-color: rgb(30 41 59 / 1);
    }
}
